/* Custom fonts */

@font-face {
    font-family:"Microsoft Sans Serif";
    src:url("./fonts/micross.ttf");
}

@font-face {
    font-family: "Windows Regular";
    src: url("./fonts/Windows-Regular.ttf");
}

#screen {
    width: 640px;
    height: 480px;
    background-color: #008081;
    position: relative;
}

/* Icons on Desktop */

.desktop-container {
    width: 64px;
    height: 64px;
    font-family: "Windows Regular";
}

.one {
    padding: 5px 0 0 5px;
}

.desktop-icon {
    width: 65%;
    display: block;
    margin: 0 auto;
}

.desktop-container > h3 {
    margin-top: 2px;
    color: rgb(233, 233, 233);
    font-size: 12px;
    text-align: center;
}

/* Navigation Pane */

#navbar {
    width: 640px;
    height: 32px;
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #c0c0c2;
    border-top: 1px solid white;
    font-family: "Microsoft Sans Serif";
}

#navbar-tray {
    height: 24px;
    width: 70px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    background-color: #c0c0c2;
    border-top: 2px solid gray;
    border-right: 2px solid #e3e8e0;
    border-bottom: 2px solid #e3e8e0;
    border-left: 2px solid gray;
}

/* Start button */

#start-button {
    width: 73px;
    height: 25px;
    background-color: #c0c0c2;
    border-top: 2px solid #e3e8e0;
    border-left: 2px solid #e3e8e0;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    padding-left: 5px;
    margin: 5px 0 3px 3px;
}

#start-container {
    width: 65px;
    height: 18px;
    margin: 0 1px 2px -3px;
}

#start-button:active {
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-bottom: 2px solid #e3e8e0;
    border-right: 2px solid #e3e8e0;
}

#start-button:active #start-container {
    border: 1px dotted rgb(73, 71, 71);
}

#start-button-text > h2 {
    display: inline-block;
    font-size: 15px;
    margin-top: -1px;
}

#start-button-text {
    display: inline-block;
    margin-left: -3px;
}

#start-logo {
    height: 70%;
    vertical-align: center;
    padding: 2px 5px 0 0;
 }

 /*Start menu */

 #start-menu {
    background-color: #c0c0c2;
    border-top: 3px solid #e3e8e0;
    border-left: 3px solid #e3e8e0;
    border-bottom: 3px solid gray;
    border-right: 3px solid gray;
    width: 27%;
    height: 70%;
    position: absolute;
    bottom: 30px;
    left: 2px;
    opacity: 100;
    display: flex;
    }

.start-container {
    display: flex;
}

.start-container.left {
    background-color: blue;
    width: 30px;
}

#start-menu-vertical {
    color: white;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 43px;
    left: -30px;
    font-family: sans-serif;
}

.start-container.right {
    flex: 4 1 auto;
    display: flex;
    flex-direction: column;
}

.program {
    flex-grow: 1;
    padding: 4px 0 0 6px;
}

.start-menu-option {
    flex-grow: 1;
    padding: 4px 0 0 6px;
    display: flex;

}

.start-menu-option > .program {
    padding-left: 5px;
}


.program > span {
    font-family: "Windows Regular";
    font-size: 14px;
}

.start-menu-option:hover {
    background-color: blue;
    color: #fff;
}

.start-menu-option.border-bottom {
    border-bottom: 1px solid gray;
}

.start-menu-option.border-top {
    border-top: 1px solid #fff;
}

.start-menu-option-icon {
    width: 24px;
    margin-right: 5px;
}